<%= link_to 'Voltar', root_path %>
<hr>
<h2>Pesquisar as promoções cadastradas</h2>
<%= form_with url: search_path, method: :get do %>
  <%= label_tag :q, 'Procurar promoção:' %>
  <%= text_field_tag :q %>
  <%= submit_tag 'Pesquisar' %>
<% end %>
<hr>

<h1>Promoções</h1>
<dl>
  <% if @promotions.each do |promotion|%>
    <dt>Nome: </dt>
    <dd> <%= link_to promotion.name, promotion %> </dd>
    <dt>Descrição: </dt>
    <dd> <%= promotion.description %> </dd> 
    <dt>Porcentagem de desconto: </dt>
    <dd> <%= number_to_percentage promotion.discount_rate, precision: 2, separator: ',' %> </dd> 
    <hr>
  <% end.empty? %>
    <div class="warning"> Nenhuma promoção cadastrada </div> 
  <% end %>
</dl>

<%= link_to 'Registrar uma promoção', new_promotion_path %>