<%= flash[:success] %>
<%= flash[:error] %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<br>
<%= link_to 'Voltar', promotions_path %>
<hr>
<h1>Promoção <%= @promotion.name %> </h1>

<dt>Descrição: </dt>
<dd> <%= @promotion.description %> </dd>
<hr> 
<dt>Porcentagem de desconto: </dt>
<dd> <%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %> </dd>
<hr>
<dt>Codigo: </dt>
<dd> <%= @promotion.code %> </dd>
<hr>
<dt>Vencimento: </dt>
<dd> <%= @promotion.expiration_date.strftime("%d/%m/%Y") %> </dd>
<hr>
<dt>Quantidade: </dt>
<dd> <%= @promotion.coupon_quantity %> </dd>
<hr>
<% @promotion.coupons.each do |coupon| %>
  <%= coupon.code %>
<% end %>
<hr>
<%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %>
<hr>

<% @promotion.coupons.each do |coupon| %>
  <%= coupon.code %>
  <%= link_to 'Inativar', inactivate_coupon_path(coupon), method: :post %>
<% end %>

<hr>
<%= link_to 'Editar promoção', edit_promotion_path(@promotion) %>
<hr>
<%= link_to "Apagar promoção", promotion_path(@promotion), method: :delete, 
                                data: { confirm: "Você tem certeza?" } %>
<hr>
<%= link_to 'Registrar uma promoção', new_promotion_path %>
